<% include header %>

<div class="titelkader1">

<div class="titel t1">
      <h1><a href="/">down-to-earth</a></h1>
</div>

<div class="titel t2">
      <h1><a href="/">magazine</a></h1>
</div>

<div class="clear"></div>

</div>

<h2>Nieuwsitems voor categorie <%- categorieen[id] %></h2>

  <% for (var i = 0; i < items.length; i++) { %>
    <% if (items[i].categorieen.indexOf(categorieen[id]) !== -1) { %>
      <section>
          <h2>
            <a href=/items/<%- items[i].id %>><%- items[i].titel %></a>
          </h2>
          <img src="/img/<%- items[i].afbeeldings %>" alt="<%- items[i].titel %>">
          <p><%- items.author %></p>
          <p><%- items[i].datum %></p>

          <p>
            <%- items[i].samenvatting %>
          </p>
      </section>
    <% } %>
  <% } %>

<% include footer %>
